* {
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.player-input {
    display: grid;
    justify-items: center;
    margin: 1rem;
}
.player-input div {
    display: inline-flex;
    flex-direction: column;
    font-size: 120%;
    border: 1px solid black;  
    border-radius: 1rem;
}
.player-input h1 {
    padding: 1rem 2rem;
    border-bottom: 1px solid black;
}
.player-input p,
.player-input input {
    margin: 0.5rem;
    padding: 0.5rem;
}
.player-input .btn {
    margin-bottom: 1rem;
    border-radius: 0.5rem;
    background-color: hsl(141, 53%, 53%);
    font-weight: bold;
}
.player-input .btn:disabled {
    background-color: hsl(0, 0%, 86%);
}

.board {
    display: grid;
    grid-template-columns: repeat(12, 70px);
    grid-template-rows: repeat(7, 70px);
}
.space {
    border: 1px solid grey; 
}
.token {
    display: inline-block;
    width: 12px;
    height: 12px;
    border-radius: 100%;
    border: 1px solid black;
}
.token.red {
    background-color: red;
}
.token.yellow {
    background-color: yellow;
}